/* General Styles */
body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}



h1, h2 {
  color: #333;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

/* Navbar and Modal Styling in Dark Mode */
.dark-mode .navbar, .dark-mode .modal-content {
  background-color: #333;
  color: #fff;
}

/* Card Styling in Dark Mode */
.dark-mode .card {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
}

/* Contact Section Text Color in Dark Mode */
.dark-mode #contact p,
.dark-mode #contact h2 {
  color: #f1f1f1;
}

/* Footer Link Color in Dark Mode */
.dark-mode footer .footer-link {
  color: #f1f1f1;
}

.dark-mode footer .footer-link:hover {
  color: #007bff;
  text-decoration: underline;
}

  .modal-content {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .modal-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .modal-title {
    font-size: 18px;
    font-weight: bold;
  }
  .modal-body {
    padding: 20px;
  }
  .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .btn-primary {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-primary:hover {
    background-color: #444;
  }
  .btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
  }
  
  .btn-cart::after {
    content: attr(data-quantity);
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: -90%;
  }
  
  .icon-cart {
    width: 25.38px;
    height: 30.52px;
    transition: .2s linear;
    padding-bottom: 10px;
  }
  
  .icon-cart path {
    fill: rgb(0, 0, 0);
    transition: .2s linear;
  }
  
  .btn-cart:hover > .icon-cart {
    transform: scale(1.2);
  }
  
  .btn-cart:hover > .icon-cart path {
    fill: rgb(186, 34, 233);
  }
  
  .btn-cart:hover::after {
    visibility: visible;
    opacity: .5;
    top: 90%;
  }
  
  .quantity {
    display: none;
  }
  